#card{
    background: black url("img/wallpaper2.jpg") no-repeat center center/cover;
    background-attachment: fixed;
    height: 80vh;
    margin-top: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* caixa */

#caixa{
    padding: 10px;
    background-color: white;
    box-shadow: 0px 20px 40px black;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
main img{
    border: 3px solid orange;
    padding: 1px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

h3,p{
    text-align: center;
    margin-bottom: 5px;
}

/* caixa1 */


#caixa1{
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.445);
    width: 300px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
#caixa1:hover{
    box-shadow: 0px 5px 20px rgb(0, 0, 0);
    margin-bottom: 50px;
}

article{
    display: flex;
    flex-direction: column;
}
main a{
    padding: 10px;
    background-color: #ce5b0e;
    border-radius: 10px;
    text-align: center;
}
main a:hover{
    background-color: #ce5b0ed8;
}
#parte{
    padding: 10px;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}