/* conteudo */
#cont2{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#img{
    width: 350px;
    height: 350px;
    transition: 1.5s;
}
#img:hover{
    box-shadow: 0px 0px 10px rgb(75, 50, 4);
    width: 400px;
    height: 400px;

}