main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(179, 175, 175, 0.671);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
